/* 
Keyword colors can be found at http://colours.neilorangepeel.com/
*/

/* border-box fix */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
.container {
  color: white;
  font-family: helvetica, arial, sans-serif;
  display: grid;
  max-height: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

header {
  background: skyblue;
  grid-column: 1/-1;
}
main {
  background: slategray;
  grid-column: 2/4;
}
nav {
  background: cadetblue;
  grid-column: 1/2;
  grid-row: 2/3;
}
aside {
  background: seagreen;
}
footer {
  background: darkslateblue;
  grid-column: 1/-1;
}
