@charset "utf-8";

figure#card img#cover {
  transform: perspective(600px) rotateY(0);
  transform-origin: left;
  transition: all 2s;
}

figure#card:hover img#cover {
  transform: perspective(600px) rotateY(-180deg);
}
