h1 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  border: 3px solid purple;
}

#some-span {
  border: 3px solid lightgreen;
  border-radius: 3px;
}

.some-cool-class {
  text-decoration: green wavy underline;
}

.added-element {
  border: 3px solid blue;
  border-radius: 3px;
}

.text {
  padding: 10px;
  border: 3px solid lightblue;
  margin-top: 5px;
}

.element-to-delete {
  border: 3px solid red;
  border-radius: 3px;
}
