body {
  font-family: "Alfa Slab One", cursive;
  font-size: 6rem;
  background: #2c333a;
}

div {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
  perspective: 800px;
}

span {
  display: inline-block;
  margin-left: -20px;
  color: #77c6bc;
  transform-origin: 70% 70%;
}
@keyframes t {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
@keyframes tb {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

span:nth-child(2n) {
  color: #95b8cb;
}

span:nth-child(1) {
  animation: t 1s both 1s, tb 1s forwards 2.6s;
}

span:nth-child(2) {
  margin-right: 30px;
  animation: t 1s both 1.2s, tb 1s forwards 2.8s;
}

span:nth-child(3) {
  margin-right: 30px;
  animation: t 1s both 1.4s, tb 1s forwards 3s;
}

span:nth-child(4) {
  animation: t 1s both 1.6s, tb 1s forwards 3.2s;
}

span:nth-child(5) {
  margin-left: -28px;
  animation: t 1s both 1.8s, tb 1s forwards 3.4s;
}

span:nth-child(6) {
  animation: t 1s both 2s, tb 1s forwards 3.6s;
}

span:nth-child(7) {
  animation: t 1s both 2.2s, tb 1s forwards 3.8s;
}
