@charset "utf-8";

#container {
  transition: all 1s;
  transform: perspective(600px) rotateY(40deg);
  transform-origin: left;
  transform-style: preserve-3d;
}
#container img {
  transform-origin: top;
  transform: rotateX(20deg);
}
